:root {
  --main-bg-color: hsl(273, 75%, 66%);
  --secondary-bg-color: hsl(240, 73%, 65%);

  --main-font: 'Kumbh Sans', sans-serif;
  --body-font-size: 12px;

  --main-font-color: hsl(238, 29%, 16%);
  --secondary-font-color: hsl(14, 88%, 65%);

  --neutral-text-vdgb: hsl(237, 12%, 33%);
  --neutral-text-dgb: hsl(240, 6%, 50%);

  --divider-color: hsl(240, 5%, 91%);

  --mobile-width: 375px;
  --desktop-width: 1440px;
}

html {
  background: linear-gradient(
    to bottom,
    var(--main-bg-color),
    var(--secondary-bg-color)
  );
  font-family: var(--main-font);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-size: var(--body-font-size);
}

button {
  background-color: #fff;
  border: none;
  outline: none;
  color: var(--neutral-text-vdgb);
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
  padding: 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:hover {
  color: var(--secondary-font-color);
}
button:active {
  color: var(--main-font-color);
  font-weight: 700;
}

.active {
  color: var(--main-font-color);
  font-weight: 700;
}

.box {
  background: #fff;
  border-radius: 40px;
  width: 1200px;
  height: 600px;
  box-shadow: 0px 32px 25px 0px rgba(50, 50, 50, 0.5);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.accordion {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70%;
}

.panel {
  padding-bottom: 20px;
  display: none;
  font-size: 12px;
  font-weight: 400;
  color: var(--neutral-text-dgb);
  line-height: 1.5;
}

.divider {
  border-bottom: 1px solid var(--divider-color);
  margin-bottom: 10px;
}

.reverse {
  transform: rotate(180deg);
}

.heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content {
  width: 50%;
  height: 100%;
  padding: 80px;
}

.img-back {
  position: absolute;
  width: 2000px;
  top: -360px;
  left: -650px;
}

.img-box {
  position: relative;
  left: 80px;
  top: 8%;
  z-index: 1;
  width: 230px;
}

.img-woman {
  position: absolute;
  left: -100px;
  top: 10%;
  width: 650px;
}

@media screen and (max-width: 375px) {
  body {
    display: flex;
  }

  .accordion {
    display: block;
  }

  .box {
    justify-content: center;
    margin-top: 70px;
    width: 90vw;
    flex-direction: row;
    height: 70vh;
    overflow: visible;
    height: 600px;
  }

  .img-woman {
    width: 75%;
    left: auto;
    top: -20%;
  }

  .img-box {
    position: absolute;
    width: 30%;
    top: 78px;
    left: 50px;
  }

  .img-back {
    width: 80%;
    left: auto;
    top: -10px;
  }

  .content {
    display: block;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .heading {
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
  }

  button {
    font-size: 15px;
    margin: 20px 0;
  }

  .divider {
    margin-bottom: 0;
  }
}
